<nav class="navbar navbar-inverse bg-primary">
  <!-- Navbar content -->

  <h1 class="navbar-brand mb-0">Welcome to Vagabond.com</h1>

  <% if current_user == nil %>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item margin-top-20">
      <button data-toggle="modal" data-target="#sign_up_modal" class="btn btn-primary nav-buttn">Sign Up</button>
    </li>
    <li class="nav-item margin-top-20">
      <button data-toggle="modal" data-target="#login_modal" class="btn btn-primary nav-buttn">Log in</button>
    </li>
  </ul>
  <% else %>
    <div class="margin-top-20">
      <%= link_to "Profile", user_path(current_user), class: "btn btn-primary" %>
    </div>
    <div class="margin-top-20">
      <%= link_to "Log Out", logout_path , class: "btn btn-primary" %>
    </div>
  <% end %>

</nav>
<% @cities.each do |city| %>
<%= link_to image_tag(city.image), city_path(city.id) %>
<%end%>
