/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  */
.dungeon_two{
  padding: 150px 0px 300px 0px;
  background-color: #FEFFF1;
  text-align: center;
}
.dungeon{
  padding: 10px 0px 75px 0px;
  background-color: #FEFFF1;
  text-align: center;

}
ul{
  background-color: #FEFFF1;
}
 body{
   font-family: 'Great Vibes', cursive;
   background-color: #FEFFF1;
 }

.logo{
  width: 15%;
  height: 15%;

}
.navbar{
  background-color: #FEFFF1;
  display: inline-flex;
}

.btn{
  color: white;
  background-color: #FD18FD;
}
a{
  max-width: auto;
  color:Pink
}
a:visited, a:hover, a:active {
  color: white;
}
a[href]{
  color: blue;
}

.btn:visited, .btn:hover, .btn:hover{
  color:white;
  cursor: pointer;
}

img{
  height: 600px;
  width: 100%;
}
.icon{
  height: 20px;
  width: 20px;
}
.post{
  text-align: center;
}
li{
  list-style: none;
}

.footer{
  bottom: 0;
  position: fixed;
  width: 100%;
  font-family: 'Great Vibes';
  background-color: #FEFFF1;
  color: #FD18FD;
  text-align: center;
  padding: 20px;
}

.error{
  max-width: 50%;
  z-index: 100;
  top: 30px;
  text-align: center;
  left: 20%;
  position: absolute;
  color: red;
  font-size: 25px;
}
body{
  margin-bottom: 200px

}
