/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  */
.dungeon_two{
  padding: 20px 0px 300px 0px;
  background-color: #FEFFF1;
  text-align: center;
}
.dungeon{
  padding: 10px 0px 75px 0px;
  background-color: #FEFFF1;
  text-align: center;

}
.post_content{
  margin: 5px 15%;
}
ul{
  background-color: #FEFFF1;
  padding: 0
}

.logo{
  position: sticky;
  width: 20%;
  height: 20%;

}
.navbar{
  background-color: #FEFFF1;
  display: flex;
  padding-bottom: 10px  !important;

  flex-wrap: nowrap !important;
  justify-content: flex-end !important;
}

.btn{
  color: white;
  background-color: #FD18FD;
  margin: 0 5px 0 5px;
}
#post_btn{
}
a{
  color:Pink
}
a, a:hover, a:active {
  color: white;
}
textarea{
  width: 280px;
  height: 200px;
}

.btn:visited, .btn:hover, .btn:hover{
  color:white;
  cursor: pointer;
}
.nav-element{
  display: inline-block;
}
#dropdownMenuLink{
  color:white;
}
.dropdown-item{
  color: black;
}

img{
  height: 600px;
  width: 100%;
}
.icon{
  height: 20px;
  width: 20px;
}
.post{
  text-align: center;
}
li{
  list-style: none;
}

.footer{
  bottom: 0;
  position: relative;
  width: 100%;
  font-family: 'Great Vibes';
  background-color: #FEFFF1;
  color: #FD18FD;
  text-align: center;
  padding: 20px;
}

.error{
  max-width: 40%;
  z-index: 100;
  top: 10px;
  text-align: center;
  left: 20%;
  position: absolute;
  color: red;
  font-size: 20px;
}
body{
  margin-bottom: 200px
}


.modal-dialog{
  width: fit-content;
}
.modal-footer{
  display: inline-block !important;
}
.modal-content {
  text-align: center;
}
.modal-body input{
  width: 200px;
  margin: 5px;
}
.row{
  margin-right: 20px !important;
}
